body{
    background-color: black;
    background-image: url();
    background-position: center;
    background-size: 350px;
    background-repeat: no-repeat;
}
.card{
    background: white;
    border-radius: 8px;
    height: auto;
    width: auto;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}
h1{
    color: white;
    font-size: 50px;
    padding-top: 25px;
    text-align: center;
}
.form{
    align-items: left;
    display: flex;
    flex-direction: column;
}
.form p{
    font-size: 18pt;
    color: white;
    
}